## Dovecot configuration file

{% if chatmail.disable_ipv6 %}
listen = *
{% endif %}

protocols = imap lmtp

auth_mechanisms = plain

{% if chatmail.debug %}
auth_verbose = yes
auth_debug = yes
auth_debug_passwords = yes
auth_verbose_passwords = plain
auth_cache_size = 100M
mail_debug = yes
{% endif %}

default_client_limit = 20000

service imap {
  process_limit = 50000
}

mail_server_admin = mailto:root@{{ chatmail.domain }}
mail_server_comment = Chatmail server

mail_plugins = zlib quota

imap_capability = +XDELTAPUSH XCHATMAIL

passdb {
  driver = dict
  args = /etc/dovecot/auth.conf
}
userdb {
  driver = dict
  args = /etc/dovecot/auth.conf
}

mail_location = maildir:{{ chatmail.mailboxes_dir }}/{{ chatmail.domain }}/%u

namespace inbox {
  inbox = yes

  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Junk {
    special_use = \Junk
  }
  mailbox Trash {
    special_use = \Trash
  }

  mailbox Sent {
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
}

mail_uid = vmail
mail_gid = vmail
mail_privileged_group = vmail

mail_attribute_dict = proxy:/run/chatmail-metadata/metadata.socket:metadata

protocol imap {
  mail_plugins = $mail_plugins imap_zlib imap_quota last_login
  imap_metadata = yes
}

plugin {
  last_login_dict = proxy:/run/chatmail-lastlogin/lastlogin.socket:lastlogin
  last_login_precision = s
}

protocol lmtp {
  mail_plugins = $mail_plugins mail_lua notify push_notification push_notification_lua
}

plugin {
  zlib_save = gz
}

plugin {
  imap_compress_deflate_level = 6
}

plugin {
  quota = maildir:User quota
  quota_rule = *:storage={{ chatmail.max_mailbox_size }}
  quota_max_mail_size={{ chatmail.max_message_size }}
  quota_grace = 0
}

plugin {
  push_notification_driver = lua:file=/etc/dovecot/push_notification.lua
}

service lmtp {
  user=vmail

  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0600
    user = postfix
  }
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
}

service auth-worker {
  user = vmail
}

service imap-login {
    service_count = 1
    process_limit = 10000
    process_min_avail = 10
}

ssl = required
ssl_cert = <{{ chatmail.certificates_dir }}/{{ chatmail.domain }}.pem
ssl_key = <{{ chatmail.certificates_dir }}/{{ chatmail.domain }}.pem.key
ssl_dh = </usr/share/dovecot/dh.pem
ssl_min_protocol = TLSv1.2
ssl_prefer_server_ciphers = yes

{% if chatmail.imap_rawlog %}
service postlogin {
  executable = script-login -d rawlog
  unix_listener postlogin {
  }  
} 
service imap {
  executable = imap postlogin 
} 
  
protocol imap { 
  rawlog_dir = %h 
} 
{% endif %} 