# delete all mails after {{ chatmail.delete_mails_after }} days, in the Inbox
2 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -path '*/cur/*' -mtime +{{ chatmail.delete_mails_after }} -type f -delete
# or in any IMAP subfolder
2 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -path '*/.*/cur/*' -mtime +{{ chatmail.delete_mails_after }} -type f -delete
# even if they are unseen
2 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -path '*/new/*' -mtime +{{ chatmail.delete_mails_after }} -type f -delete
2 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -path '*/.*/new/*' -mtime +{{ chatmail.delete_mails_after }} -type f -delete
# or only temporary (but then they shouldn't be around after {{ chatmail.delete_mails_after }} days anyway).
2 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -path '*/tmp/*' -mtime +{{ chatmail.delete_mails_after }} -type f -delete
2 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -path '*/.*/tmp/*' -mtime +{{ chatmail.delete_mails_after }} -type f -delete
3 0 * * * vmail find {{ chatmail.mailboxes_dir }}/{{ chatmail.domain }} -name 'maildirsize' -type f -delete
4 0 * * * vmail /usr/local/lib/chatmaild/venv/bin/delete_inactive_users /usr/local/lib/chatmaild/chatmail.ini 